<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class= "col align-self-center">
      <h1>Edit Tenants Security Deposits</h1>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Property name</th>
        <th>Unit name</th>
        <th>Tenant name</th>
        <th>Security deposit amount</th>
        <th>Security deposit type</th>
        <th colspan="3">Action</th>
      </tr>
    </thead>

    <tbody>
      <% @tenants.each do |tenant| %>
        <tr>
          <td><%= tenant.property_name %></td>
          <td><%= tenant.unit_name %></td>
          <td><%= tenant.tenant_name %></td>
          <td><%= tenant.security_deposit_amount %></td>
          <td><%= tenant.security_deposit_type %></td>
          <td><%= link_to 'Edit', edit_tenant_path(tenant), class: "btn background text" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
