<div class="container col-12 text-center">
<p class="alert alert-success mt-2" id="notice"><%= notice %></p>
</div>


<div class="container">
<div class= "row justify-content-center ml-5 mt-5">
<div class= "card col-10 text-center">
<p>
  <strong>Property name:</strong>
  <%= @tenant.property_name %>
</p>

<p>
  <strong>Unit name:</strong>
  <%= @tenant.unit_name %>
</p>

<p>
  <strong>Tenant name:</strong>
  <%= @tenant.tenant_name %>
</p>

<p>
  <strong>Security deposit amount:</strong>
  <%= @tenant.security_deposit_amount %>
</p>

<p>
  <strong>Security deposit type:</strong>
  <%= @tenant.security_deposit_type %>
</p>

<p>
<%= link_to 'Edit', edit_tenant_path(@tenant), class: "btn background text" %>
<%= link_to 'Done', tenants_path, class: "btn background text" %>
</p>
</div>
</div>
</div>
